.git
.github

.gitignore

.vscode
.idea

__pycache__
*.pyc
*.pyo
*.pyd

.env

.env.*

*.sqlite3

media

staticfiles

logs

.coverage

htmlcov

.pytest_cache

.mypy_cache

.ruff_cache

node_modules

Dockerfile

docker-compose.yml